@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{

    --color-font: #667085;
    --color-red: #8E2424;

}
body , html{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

h2{
    padding: 12px;
    border: 3px solid var(--color-red);
    border-radius: 60px;
    padding-inline: 40px;
    color: var(--color-red);
    transition: .8s;
}
h2:hover{
    background-color: var(--color-red);
    color: #fff;
    transition: .8s ;
}

/* CABECALHO */

header{
    padding: 20px 0 20px 0;
}
#cotainer-geral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px 0 32px ;
    align-items: center;
}
#cotainer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
header nav ul,li,a{
    list-style: none;
    text-decoration: none;
    color:var(--color-font);
}
header nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
    height: 100%;
}
header nav{
    height: 42px;
}

#cotainer-btn{
    display: flex;
    justify-content: center;
    height: 42px;
    gap:12px ;
}
#btn-entrar{
    width: 80px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color:var(--color-font);
    font-size: 15px;
    cursor: pointer;
}
#btn-cadastrar{
    width: 110px;
    background-color:var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* Secão 1: SOBRE NÓS */

#section-sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 96px 0 96px;
}
#section-sobre-nos h2{
    font-size: 16px;
    padding: 12px;
    border: 3px solid var(--color-red);
    border-radius: 60px;
    padding-inline: 40px;
}
#section-sobre-nos h1{
    font-size: 48px;
    padding: 12px;
}
#section-sobre-nos div{
    width: 60vw;
}
#section-sobre-nos div p{
    font-size: 20px;
    color: var(--color-font);
    text-align: center;
    padding: 12px 0 12px 0;
}

/* SEÇÃO 2 */

#info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
.card-info{
    width: 20vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card-info:hover{
    transform: scale(110%);
    transition: all;
    transition:.5s ;
}
.card-info h3{
    font-size: 60px;
    color: var(--color-red);
}
.card-info span{
    font-size: 22px;
    font: bold;
}
.card-info p{
    color: var(--color-font);
    margin-top: 10px;
    font-size:16px ;
}




/*Seçao 3*/
#vagas-info-cotainer{
    padding: 96px 0 96px 0;
    display: flex;

}
#vagas-info-cotainer  h2{
    font-size: 16px;

}
#vagas-info{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
#vagas-info p{
    color: var(--color-font);
}
#vagas-info img{
    padding-top: 30px;
}

/*Seção 4*/

#vagas-open-cotainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
#vagas-open{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.categoria-info{
    padding: 30px;
    border:solid #6670855e 1px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vaga-name{
    font-weight: 500;
    font-size: 16px;
}
.categoria{
    font-weight: 500;
    font-size: 20px;
}
.info-vaga-span-cotainer{
    display: flex;
    gap: 20px;
}
.info-vaga-span{
    color: var(--color-font);
    font-size: 14px;
} 


/* Seção 5 */
#colaboradores-cotainer{
    width: 100%;
    padding-top: 96px;
    padding-bottom: 46px;
    display: flex;
    justify-content: center;
}
#colaboradores{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 80%;
    background-color:#C3191908;
}
#colaboradores p{
    font-size:36px;
    font-weight: 500;
    width: 85%;
    text-align: center;
    font-family: Inter;
}
#colaboradores h2{
    font-size: 16px;
}
#perfil-desenvolvedora{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    gap: 5px;
}
#avatar{
    background-image: url("../assets/Avatar.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
#perfil-desenvolvedora span{
    font-weight: 500;
}
#perfil-desenvolvedora p{
    font-size: 14px;
    color: var(--color-font);
}

/* FOOTER */
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F9FAFB;
}
#footer-content{
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
footer div form{
    display: flex;
}
footer div span{
    font-size: 36px;
    font-weight: 600;
}
footer div p:first-of-type{
    color: #667085;
    font-size: 20px;
}
footer div p:last-of-type{
    color: var(--color-font);
    font-size: 15px;
}
footer div form{
    width: 100%;
    gap: 15px;
    justify-content: center;
}
footer div form input{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    border: 1px var(--color-font) solid;
    font-size: 16px;
    padding:18px 14px 18px 16px;
}
footer div form button{
    width: 15%;
    border-radius:8px;
    border:none;
    background-color: var(--color-red);
    color: white;
    font-size: 16px;
}