@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body , html{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}



/* CABECALHO */

header{
    background-color: red;
}
#cotainer-geral{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px 0 32px ;
    align-items: center;
}